<div class="text-center">

<strong>https://github.com/{{sendForm.first_param}}/{{sendForm.second_param}}</strong>

</div>

<div class="ui raised segment">

    <div class="row directory-row">

        <!--DIRECTORY CODES-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 my-directory">
                <ul>
                    <li><i style="color: green" class='folder outline icon'></i>app.js</li>
                    <li><i style="color: green" class='folder outline icon'></i>angular.js</li>
                    <li><i style="color: green" class='folder outline icon'></i>jquery.js</li>
                    <li><i style="color: green" class='folder outline icon'></i>index.html</li>
                </ul>
        </div>


        <!--SOURCE CODES-->
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 my-source">
                <pre>
                    <code></code>
                </pre>
        </div>

    </div>
</div>
