
#text-container{
    height: 100%;
    width: 100%;
    /*position: fixed;*/
}

.toolbar{
    color: #FFF;
    margin: 0;
    letter-spacing: 20px;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px 5px 5px 5px;

    background-color: black;
}

.toolbar-item{
    display: inline;
}

/*.ui.small.loader{*/
    /*position: relative !important;*/
/*}*/

/*.ui.loader{*/
    /*top: -2%;*/
/*}*/


#hide-button{
    color: white;
    background: #337AB7;
    border: 2px solid #337AB7;
    position: absolute;
    right:0;
}
#hide-button:hover{
    background: #265C8A;
    border-color: #265C8A;
}


#fileloader{
    position: relative !important;
    top: -2.5%;
}

pre.line-numbers{
    padding-left: 3.5em !important;
}


.directory-row{
    height: 100%;
    display: flex;
}

.my-directory{

    background-color: #E7E4E7;
    height: 100%;
    /*overflow: auto;*/
    padding: 0;
    width: 25%;

}

.my-directory > h4{
    opacity: 0.3;
    font-weight: bolder;
    font-size: 25px;
    position: relative;
    letter-spacing: 2px;
    padding : 20px 20px 0 20px;
}

.my-directory > .directory-file > ul {
    list-style: none;
    padding: 0 20px 20px 20px;
}

.my-directory > .directory-file > ul > li{
    font-size: 20px;
}

.directory-file{
    position: relative;
}

pre{
    height: 100%;
    border: 0;
    margin: 0;
}

.my-source{
    /*border: 1px solid green;*/
    height: 100%;
    width:75%;
    padding: 0 !important;

}
