.toolbar{
    text-align: center;
    padding: 2px 0;
    color: #FFF;
    margin: 0;
    letter-spacing: 20px;
    font-size: 20px;

    font-weight: bolder;
    background-color: black;
}

/*.ui.small.loader{*/
    /*position: relative !important;*/
/*}*/

/*.ui.loader{*/
    /*top: -2%;*/
/*}*/

#fileloader{
    position: relative !important;
    top: -2.5%;
}

pre.line-numbers{
    padding-left: 3.5em !important;
}


.directory-row{
    height: 100%;
}

.my-directory{

    background-color: #E7E4E7;
    height: 100%;
    overflow: auto;
    padding: 0;

}

.my-directory > h4{
    opacity: 0.3;
    font-weight: bolder;
    font-size: 25px;
    position: relative;
    letter-spacing: 2px;
    padding : 20px 20px 0 20px;
}

.my-directory > .directory-file > ul {
    list-style: none;
    padding: 0 20px 20px 20px;
}

.my-directory > .directory-file > ul > li{
    font-size: 20px;
}

.directory-file{
    position: relative;
}

pre{
    height: 100%;
    border: 0;
    margin: 0;
}

.my-source{
    /*border: 1px solid green;*/
    height: 100%;
    padding: 0 !important;

}
