<div class="container home-container">

    <!--<div class="row git-header">-->
        <!--<div class="col-xs-offset-3 col-sm-offset-5 col-md-offset-5">-->
    <div class="git-header">

            <h1>Git Brother</h1>
            <img class="git-img" src="assets/img/github.png">
    </div>
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">


    <div class="url-container">
        <form class="url-input">

            <input type="text" class="form-control single-input" value="https://github.com">
            <span class="back-slash ">/</span>
            <input type="text" class="form-control single-input" placeholder="username">
            <span class="back-slash">/</span>
            <input type="text" class="form-control single-input" placeholder="repository">
        </form>
            <button class="btn btn-primary text-center">Go!</button>
    </div>


    </div>
    </div>


    <my-text-editor></my-text-editor>



</div>


