<div class="container home-container">

    <img id="fork-me" src="assets/img/forkme.png"/>
    <div class="git-header">
        <h1>Git Brother</h1>
        <img class="git-img" src="assets/img/github.png">
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">


            <div class="url-container">
                <form class="url-input">

                    <input type="text" class="form-control single-input" value="https://github.com">
                    <span class="back-slash ">/</span>
                    <input type="text" name="first_param" [(ngModel)]="urlForm.first_param" class="form-control single-input" placeholder="username">
                    <span class="back-slash">/</span>
                    <input name="second_param" [(ngModel)]="urlForm.second_param" type="text" class="form-control single-input" placeholder="repository">
                </form>
                <button class="btn btn-primary text-center" (keypress)="onSubmit()"  (click)="onSubmit()">Go!</button>
            </div>





        </div>
    </div>


    <my-text-editor [myUrl]="buttonPressed"></my-text-editor>



</div>




