<div class="container home-container">

    <div id="top-piece-container">



    <img id="fork-me" src="assets/img/forkme.png"/>

    <div class="git-header">
        <h1>Git Brother</h1>
        <img class="git-img" src="assets/img/github.png">
    </div>


        <div id="top-container" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">


        <form id="url-form" (ngSubmit)="onSubmit()">
            <div class="group">
                <input [disabled] type="text" value="https://github.com">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Leave this</label>
            </div>
            <span class="back-slash ">/</span>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>
            <span class="back-slash ">/</span>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>
            <button style="display: none" type="submit" class="btn btn-primary text-center" (keypress)="onSubmit()"  (click)="onSubmit()">Go!</button>
        </form>
            </div>
        </div>


    <my-text-editor [myUrl]="buttonPressed"></my-text-editor>



    </div>



</div>




